@import '../dist/style.css'
@import '../node_modules/bootstrap/scss/bootstrap.scss'

.bck-ft

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../git_bootstrap_les_chefs/images/banner1.jpg") 
    height: 900px
    width: 100%
    background-size: cover
.nvb
    border-top: solid #fff 1px
    border-bottom: solid #fff 1px
    
.nvb2
    padding-bottom: 10px
    padding-top: 10px
.nmc
    margin-left: 35px

.colm2
    margin-top: 14px

.txtb
    font-family: 'Courgette', cursive

.dbanner
    margin-top: 164px

.hbanner
    font-size: 62px


.dbouton
    margin-top: 93px

.bouton
    border-radius: 75px